<h2>Detalle y Edición de Tarea</h2>
<form *ngIf="task" (submit)="editarTarea()">
  <label for="taskId">ID de la tarea:</label>
  <input type="number" id="taskId" [(ngModel)]="task.id" name="taskId" disabled>

  <label for="taskName">Nombre de la tarea:</label>
  <input type="text" id="taskName" [(ngModel)]="task.nombre" name="taskName" required>

  <label for="taskCompleted">Completado:</label>
  <input type="checkbox" id="taskCompleted" [(ngModel)]="task.completado" name="taskCompleted">

  <button type="submit">Guardar</button>
</form>
